<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>multi-organizationator</h1>
      <p>This app demonstrates accessing items from two orgs seamlessly.</p>
    </div>
  </div>
</div>
