{{#if communityOrgService.useIFrame}}
  {{#if error}}
    <div class="alert alert-danger" role="alert">{{error.message}}</div>
  {{/if}}
  <iframe src="{{iFrameSrc}}" width="600" height="450"></iframe>
{{/if}}
